<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('./partials/head.ejs') %>

  <body>
    <h1>Edit your stuff</h1>
    <%- include ('./partials/nav.ejs') %>

    <form class="forms" action="/stuff/<%=stuff.id%>?_method=PUT" method="POST">
      <input type="text" name="title" class="input" value="<%=stuff.title%>"/><br>
      <input type="text" name="img" class="input" value="<%=stuff.img%>"/><br>
      <input type="textarea" class="input" name="description"  value="<%=stuff.description%>" ></input><br>
      <input type="number" name="value" class="input" value="<%=stuff.value%>"/><br>
      <input type="submit" class="btns" value="Save Changes">

    <%- include ('./partials/footer.ejs') %>
  </body>
</html>

<!---================ Graveyard ===================--->
<!-- <textarea class="input txtarea" name="description"  value="<%=stuff.description%>" ></textarea><br>

<p><strong>Solution with span:</strong> <span class="textarea" name="description"  value="<%=stuff.description%>" role="textbox" contenteditable></span></p><br> -->
