<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('./partials/head.ejs') %>

  <body>
    <div class="container">
      <h1>Organized Hoarders Home Page</h1>
      
      <%- include ('./partials/nav.ejs') %>

      <main>
        <div class="collection">
          <% for(let i=0; i<stuff.length; i++){ %>
            <div class="someStuff">
              <a href="/stuff/<%=stuff[i].id%>">
              <h2> <%=stuff[i].name%> </h2>
              <img src="<%= stuff[i].img %>" class="img">
              </a>
              <h2> Value: $<%=stuff[i].value%> </h2>
            </div>
          <% } %>
          </div>
      </main>

      <%- include ('./partials/footer.ejs') %>
    </div>
  </body>
</html>
