<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('./partials/head.ejs') %>

  <body>
    <h1>This Organized Hoarder's Stuff</h1>

    <%- include ('./partials/nav.ejs') %>
    <main class="showMain">
      <div class="showSomeStuff">
        <img src=<%= stuff.img %> class="showImg">

        <div class="column">
          <h1> <%= stuff.title %> </h1>
          <h4 class="text"> <%= stuff.description %> </h4>
          <h4>Value: $<%= stuff.value %> </h4>
          <div class="editDeleteButtons">
            <a href="/stuff/<%=stuff.id; %>/edit"><button class="btns"">Edit</button></a>

            <form action="/stuff/<%=stuff.id%>?_method=DELETE" method="POST">
              <input class="btns" type="submit" value="DELETE">
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
